[submodule "typescript-boilerplate-date"]
	path = typescript-boilerplate-date
	url = git@github.com:edgardleal/typescript-boilerplate-date.git
[submodule "typescript-boilerplate-http"]
	path = typescript-boilerplate-http
	url = git@github.com:edgardleal/typescript-boilerplate-http.git
